<launch>
    <!-- Enable simulated time -->
    <param name="use_sim_time" value="true" />

    <!-- Include the base ARIAC launch file -->
    <include file="$(find ecse_373_ariac)/launch/ecse_373_ariac.launch" />

    <!-- Start the competition manually -->
    <node pkg="ariac" type="start_competition_node" name="start_competition" output="screen" />

    <!-- Launch your custom node -->
    <node name="ariac_entry_node" pkg="ariac_entry" type="ariac_entry_node" output="screen" />
</launch>
